{#-def href, nonce_hash, target, submit_text, reset_text -#}
<form hx-post="{{ href }}" hx-target={{ target }} hx-nonce={{ nonce_hash }} x-data="SimpleFormModel" x-on:input="revalidate()" x-on:change="revalidate()" x-on:reset="revalidateDeferred()">
    {{ content }}
    <div class="form-actions">
        <button type="reset" class="tertiary">{{ reset_text }}</button>
        <button type="submit" class="primary" disabled x-bind:disabled="isDisabled">{{ submit_text }}</button>
    </div>
</form>