{%- set pages = [
    [_("Home"), "/"],
]%}
{%- set filler_pages = [
    [_("Filler link 1"), "/"],
    [_("Filler link 2"), "/"],
]%}
<menu x-data="{ expanded: false }" x-bind:class="{ 'is-expanded': expanded }">
    <div class="top-controls">
        <button type="button" class="mobile-controls nav square" x-on:click="expanded = !expanded"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M150-240q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Z"/></svg></button>
        
        <div class="logo-container hidden lg:block">
            <img src="/static/img/logo.svg" alt="Logo" class="hidden lg:block fill-white" />
        </div>

        <MenuGroup label={{ _('Title') }} open>
            {%- for page in pages %}
                <MenuItem href={{ page[1] }} hx-nonce={{ nonce_hash }} x-on:click="expanded = false">{{ page[0] }}</MenuItem>
            {%- endfor %}
        </MenuGroup>
        <MenuGroup label={{ _('Filler') }} open>
            {%- for page in filler_pages %}
                <MenuItem href={{ page[1] }} hx-nonce={{ nonce_hash }} x-on:click="expanded = false">{{ page[0] }}</MenuItem>
            {%- endfor %}
        </MenuGroup>

    </div>
    <div class="bottom-controls">
        <div class="account w-full px-2 mb-10">
            <h3 class="text-white text-lg w-full max-w-80 h-9 flex justify-center">{{ _('Account') }}</h3>
            {%- if user.is_authenticated %}
                <h3 class="text-white text-lg w-full max-w-80 h-9 flex">{{ user.display_name }}</h3>
                <button type="button" class="nav center" hx-get="/account/v1/logout" hx-target={{ get_hx_target('main') }} hx-nonce={{ nonce_hash }} x-on:click="expanded = false">{{ _('Logout') }}</button>
            {%- else %}
                <button type="button" class="nav center" hx-get="/account/v1/login" hx-target={{ get_hx_target('main') }} hx-nonce={{ nonce_hash }} x-on:click="expanded = false">{{ _('Login') }}</button>
                <button type="button" class="nav center" hx-get="/account/v1/register/email/" hx-target={{ get_hx_target('main') }} hx-nonce={{ nonce_hash }} x-on:click="expanded = false">{{ _('Register') }}</button>
            {%- endif %}
        </div>
        <div class="set-language flex flex-col w-full">
            <button type="button" class="nav center" hx-put="/set-language" hx-vals='{"language": "cs"}' hx-trigger="click" hx-target="body" hx-nonce={{ nonce_hash }}>CZ</button>
            <button type="button" class="nav center" hx-put="/set-language" hx-vals='{"language": "en"}' hx-trigger="click" hx-target="body" hx-nonce={{ nonce_hash }}>EN</button>
        </div>
    </div>
</menu>