{%- set pages = [
    [_("Home"), "/"],
    [_("Register"), "/account/v1/register/email/"],
    [_("Forgot Password"), "/account/v1/forgotten-password/email/"]
]%}
<menu x-data="{ expanded: false }" x-bind:class="{ 'is-expanded': expanded }">
    <div class="top-controls">
        <button type="button" class="mobile-controls nav square" x-on:click="expanded = !expanded"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M150-240q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Zm0-210q-12.75 0-21.37-8.68-8.63-8.67-8.63-21.5 0-12.82 8.63-21.32 8.62-8.5 21.37-8.5h660q12.75 0 21.38 8.68 8.62 8.67 8.62 21.5 0 12.82-8.62 21.32-8.63 8.5-21.38 8.5H150Z"/></svg></button>
        
        <div class="logo-container hidden lg:block">
            <img src="/static/img/logo.svg" alt="Logo" class="hidden lg:block fill-white" />
        </div>
        <MenuGroup label={{ _('Title') }} open>
            {%- for page in pages %}
                <MenuItem href={{ page[1] }} hx-nonce={{ nonce_hash }} x-on:click="expanded = false">{{ page[0] }}</MenuItem>
            {%- endfor %}
        </MenuGroup>
    </div>
    <div class="bottom-controls">
        <div class="set-language flex flex-row w-full place-content-center">
            <button type="button" class="set-language-button square nav" hx-put="/set-language" hx-vals='{"language": "cs"}' hx-trigger="click" hx-target="body" hx-nonce={{ nonce_hash }}>CZ</button>
            <button type="button" class="set-language-button square nav" hx-put="/set-language" hx-vals='{"language": "en"}' hx-trigger="click" hx-target="body" hx-nonce={{ nonce_hash }}>EN</button>
        </div>
    </div>
</menu>